workflows/CRM-EAD.json
{
  "createdAt": "2025-05-28T15:43:55.027Z",
  "updatedAt": "2025-05-29T00:54:27.038Z",
  "id": "VzzKHDHJQodwZcB8",
  "name": "CRM-EAD",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "content": "# BACKLOG",
        "height": 80,
        "width": 380,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2780,
        -660
      ],
      "typeVersion": 1,
      "id": "804a5863-2ea2-44cd-acf4-138fc8f45caa",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "ㅤ\nㅤ\n✅ ...\n⬜ ...",
        "height": 400,
        "width": 520
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2800,
        -620
      ],
      "typeVersion": 1,
      "id": "7f4cbbe1-859c-4d2b-bbd3-ac2db1011957",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "",
        "height": 400,
        "width": 520
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2280,
        -620
      ],
      "typeVersion": 1,
      "id": "0ebc4218-986c-4bc5-8c7e-43b97fde008f",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0a2f2b66-7117-4366-bcfe-4db213d48f58",
              "name": "evolution.dominio",
              "value": "={{ $('RECEBE DADOS DA MENSAGEM').item.json.body.server_url }}",
              "type": "string"
            },
            {
              "id": "bd6e42da-6830-4fb0-ab77-3a09119db812",
              "name": "evolution.apiKey",
              "value": "={{ $('RECEBE DADOS DA MENSAGEM').item.json.body.apikey }}",
              "type": "string"
            },
            {
              "id": "81e81d16-9a72-4a78-9883-c83df2379afa",
              "name": "evolution.instancia",
              "value": "={{ $('RECEBE DADOS DA MENSAGEM').item.json.body.instance }}",
              "type": "string"
            },
            {
              "id": "065007b3-d644-4616-9696-853f1028534f",
              "name": "celular",
              "value": "={{ $('RECEBE DADOS DA MENSAGEM').item.json.body.data.key.remoteJid.replace(/\\D/g, '').replace(/^55(\\d{2})(\\d{8})$/, '55$19$2') }}",
              "type": "string"
            },
            {
              "id": "8b9e4aef-f853-4c11-95da-1e6af280a03f",
              "name": "mensagem.id",
              "value": "={{ $('RECEBE DADOS DA MENSAGEM').item.json.body.data.key.id }}",
              "type": "string"
            },
            {
              "id": "d155928e-83a0-4f1e-be86-dcf0787d27a9",
              "name": "mensagem.timestamp",
              "value": "={{ $('RECEBE DADOS DA MENSAGEM').item.json.body.data.messageTimestamp.toDateTime('s').toISO() }}",
              "type": "string"
            },
            {
              "id": "b71a74d7-6432-4f5e-94e5-134a2032f66b",
              "name": "mensagem.from",
              "value": "={{ $('RECEBE DADOS DA MENSAGEM').item.json.body.data.fromMe ? 'outcoming' : 'incoming'  }}",
              "type": "string"
            },
            {
              "id": "a8718685-7168-4e64-9395-dab9799ac459",
              "name": "mensagem.conteudo",
              "value": "={{ $('RECEBE DADOS DA MENSAGEM').item.json.body.data.message.conversation  }}",
              "type": "string"
            },
            {
              "id": "66219348-821b-4705-96e9-63c257374a1a",
              "name": "mensagem.tipo",
              "value": "={{ $('RECEBE DADOS DA MENSAGEM').item.json.body.data.messageType  }}",
              "type": "string"
            },
            {
              "id": "d15770e8-e366-4504-8c00-68b82a038149",
              "name": "mensagem.base64",
              "value": "={{ $('RECEBE DADOS DA MENSAGEM').item.json.body.data.message.base64 || '' }}",
              "type": "string"
            },
            {
              "id": "d876ba58-2ab0-44d3-b578-7aa57fcca6d7",
              "name": "mensagem.urlArquivo",
              "value": "={{ $('RECEBE DADOS DA MENSAGEM').item.json.body.data.message.imageMessage?.url || $('RECEBE DADOS DA MENSAGEM').item.json.body.data.message.documentMessage?.url || $('RECEBE DADOS DA MENSAGEM').item.json.body.data.message.audioMessage?.url || ''}}",
              "type": "string"
            },
            {
              "id": "e7ce94b5-56b0-407d-b34a-06ca68acb68e",
              "name": "mensagem.arquivoCaption",
              "value": "={{ $('RECEBE DADOS DA MENSAGEM').item.json.body.data.message.imageMessage?.caption || $('RECEBE DADOS DA MENSAGEM').item.json.body.data.message.documentMessage?.caption || ''}}",
              "type": "string"
            },
            {
              "id": "9502de3b-9e49-4cdf-9e75-25e45ef00876",
              "name": "mensagem.tempoEsperaMensagemPicotada",
              "value": "8",
              "type": "string"
            },
            {
              "id": "50e98c37-b175-48b8-a1dd-abfa7e2c3477",
              "name": "mensagem.linkPreview",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "778e7cc5-2941-43b8-b305-47486da0e1a1",
              "name": "mensagem.delayDigitando",
              "value": 800,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2980,
        20
      ],
      "id": "0d60d193-d562-42f0-b3fb-b21d9cbaf4a9",
      "name": "NORMATIZAÇÃO DE DADOS"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "crm-ead-faveni-leads",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -3200,
        20
      ],
      "id": "3aa4420e-c2c0-49f1-8de0-ebbe0d83cb17",
      "name": "RECEBE DADOS DA MENSAGEM",
      "webhookId": "75b47882-5b4c-40e8-97ec-f3d421bc2f6c"
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "celular",
              "value": "={{ $json.celular }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1,
      "position": [
        -2760,
        20
      ],
      "id": "b830da7a-afb0-4c95-b5f3-4c57e4c8c241",
      "name": "LOG DE EXECUÇÃO"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('NORMATIZAÇÃO DE DADOS').item.json.celular }}_stop_bot",
        "value": "true",
        "keyType": "string",
        "expire": true,
        "ttl": "={{ 60 * 5 }}"
      },
      "id": "b66a1356-0fae-48df-9cfc-a31daa9eb358",
      "name": "PAUSA BOT PARA ATENDIMENTO HUMANO",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -2320,
        120
      ],
      "credentials": {
        "redis": {
          "id": "Kw2oHiXMU4Hmdeyh",
          "name": "REDIS AUTH"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "stop_bot",
        "key": "={{ $('NORMATIZAÇÃO DE DADOS').item.json.celular }}_stop_bot",
        "options": {}
      },
      "id": "699888c5-ffe4-4316-b6c8-f93ad211dc4f",
      "name": "CHECA ATENDIMENTO HUMANO",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -2320,
        -80
      ],
      "credentials": {
        "redis": {
          "id": "Kw2oHiXMU4Hmdeyh",
          "name": "REDIS AUTH"
        }
      }
    },
    {
      "parameters": {
        "content": "",
        "height": 820,
        "width": 760
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2600,
        -160
      ],
      "typeVersion": 1,
      "id": "0eb1a043-3e46-4263-a296-637d5d112a34",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## PAUSA BOT PARA ATENDIMENTO HUMANO",
        "height": 80,
        "width": 580,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2580,
        -200
      ],
      "typeVersion": 1,
      "id": "1b1b587e-7f73-42ac-928b-d841cc0274ba",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "a4875116-5d38-436d-9245-b9f48fba8805",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        -160,
        120
      ],
      "credentials": {
        "openAiApi": {
          "id": "z7UeTfkwunE6Y30g",
          "name": "CRM-EAD-TESTS"
        }
      }
    },
    {
      "parameters": {
        "content": "",
        "height": 820,
        "width": 1380
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -860,
        -160
      ],
      "typeVersion": 1,
      "id": "5d63beda-4aa5-4d4a-8d9c-877e9e92ec44",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## CLASSIFICADOR E EXTRATOR(AUDIO/IMAGEM) DE MENSAGENS",
        "height": 80,
        "width": 760,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -840,
        -200
      ],
      "typeVersion": 1,
      "id": "83659a3c-e1ae-4005-acb5-ac60e6337d12",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('NORMATIZAÇÃO DE DADOS').item.json.mensagem.from }}",
                    "rightValue": "incoming",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "80d03a7a-c0ce-4aef-9fd3-5baa21ded8ab"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "SEGUE O FLUXO"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1e3d5f34-cae3-4893-8ff4-83617890c973",
                    "leftValue": "={{ $('NORMATIZAÇÃO DE DADOS').item.json.mensagem.from }}",
                    "rightValue": "outcoming",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PAUSA BOT PARA ATENDIMENTO HUMANO"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -2540,
        20
      ],
      "id": "65fc8436-81ec-42b8-a5ec-f3d1120b17f4",
      "name": "CHECA ORIGEM DA MENSAGEM"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "3ef0e01c-cc14-4663-bb4d-2905b350c3ab",
                    "leftValue": "={{ $('CHECA ATENDIMENTO HUMANO').item.json.stop_bot }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "HUMANO ATENDENDO"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('CHECA ATENDIMENTO HUMANO').item.json.stop_bot }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    },
                    "id": "12898fec-c2e1-41d4-90b5-bf496486eb66"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "BOT ATENDENDO"
            }
          ]
        },
        "options": {}
      },
      "id": "411104b0-43ca-43a9-ae31-e0dbcf293705",
      "name": "CHECA ATENDIMENTO(BOT/HUMANO)",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -2100,
        -80
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "52aaf749-fe4f-44e4-880e-15b2bfc027f1",
                    "leftValue": "={{ $('NORMATIZAÇÃO DE DADOS').item.json.mensagem.tipo }}",
                    "rightValue": "extendedTextMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "TEXTO"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "e514e613-fd6a-48bd-b0ae-bae2448c810e",
                    "leftValue": "={{ $('NORMATIZAÇÃO DE DADOS').item.json.mensagem.tipo }}",
                    "rightValue": "conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "TEXTO"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('NORMATIZAÇÃO DE DADOS').item.json.mensagem.tipo }}",
                    "rightValue": "audioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "AUDIO"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "c0e434dd-1268-421d-b81b-3a5e90ed9550",
                    "leftValue": "={{ $('NORMATIZAÇÃO DE DADOS').item.json.mensagem.tipo }}",
                    "rightValue": "imageMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "IMAGEM"
            }
          ]
        },
        "options": {}
      },
      "id": "35c73a97-cbae-450c-8331-96b3e2c28334",
      "name": "CHECA TIPO DE MENSAGEM",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -820,
        160
      ]
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data",
        "options": {
          "fileName": "file.ogg",
          "mimeType": "application/ogg"
        }
      },
      "id": "4ebcad4a-ec04-4ded-85a0-adff4b0a3e25",
      "name": "CONVERTE ARQUIVO DE AUDIO",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -380,
        120
      ]
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data",
        "options": {
          "fileName": "file.png",
          "mimeType": "image/png"
        }
      },
      "id": "9f5930bb-ff0b-4737-873e-d4c007bd4cf6",
      "name": "CONVERTE ARQUIVO DE IMAGEM",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -380,
        380
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3c5ccbc9-69d1-4b13-a7c3-e6945bc8c655",
              "name": "data",
              "value": "={{ $('NORMATIZAÇÃO DE DADOS').item.json.mensagem.base64}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "0ea20df0-54f3-4bb4-9af6-d370d1703160",
      "name": "NORMATIZA DADOS DO ARQUIVO IMAGEM",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -580,
        380
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3c5ccbc9-69d1-4b13-a7c3-e6945bc8c655",
              "name": "data",
              "value": "={{ $('NORMATIZAÇÃO DE DADOS').item.json.mensagem.base64}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "6e03ff41-c34e-4800-b4ae-6f156016989b",
      "name": "NORMATIZA DADOS DO ARQUIVO AUDIO",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -560,
        120
      ]
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "Faça um resumo curto do conteúdo da imagem. Remova os acentos e hifens da mensagem de retorno",
        "inputType": "base64",
        "options": {}
      },
      "id": "edc7cfe9-b1bd-4118-91e4-1d40a1039079",
      "name": "ANALISE DE IMAGEM",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        -160,
        380
      ],
      "credentials": {
        "openAiApi": {
          "id": "z7UeTfkwunE6Y30g",
          "name": "CRM-EAD-TESTS"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "ade56c50-1520-4760-8df5-e99617d6d3ad",
              "leftValue": "={{ $('NORMATIZAÇÃO DE DADOS').item.json.mensagem.arquivoCaption }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "898ee376-bdf7-4d6a-96ac-11d96a584c18",
      "name": "CHECA SE A IMGEM TEM CAPTION",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        60,
        380
      ]
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('PEGA SESSION ID').item.json.sessionId }}",
        "messageData": "={{ $('NORMATIZAÇÃO DE DADOS').item.json.mensagem.conteudo }}",
        "tail": true
      },
      "id": "6dedc459-cff2-4854-86ee-b0ade96aaaf3",
      "name": "MEMORIA TEXTO",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        280,
        -60
      ],
      "credentials": {
        "redis": {
          "id": "Kw2oHiXMU4Hmdeyh",
          "name": "REDIS AUTH"
        }
      }
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('PEGA SESSION ID').item.json.sessionId }}",
        "messageData": "={{ $json.text }}",
        "tail": true
      },
      "id": "db77030f-08b1-4213-8a4c-11081f851a02",
      "name": "MEMORIA AUDIO",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        280,
        120
      ],
      "credentials": {
        "redis": {
          "id": "Kw2oHiXMU4Hmdeyh",
          "name": "REDIS AUTH"
        }
      }
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('NORMATIZAÇÃO DE DADOS').item.json.sessionId }}",
        "messageData": "={{ $('NORMATIZAÇÃO DE DADOS').item.json.mensagem.arquivoCaption }}, {{ $json.content.replace(/\\n/g, \"\\\\n\").replace(/['\"]/g, '').trim()  }}",
        "tail": true
      },
      "id": "4a6f16a6-d9b3-4d10-9e50-6ab6413f7089",
      "name": "MEMORIA IMAGEM CAPTION",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        280,
        300
      ],
      "credentials": {
        "redis": {
          "id": "Kw2oHiXMU4Hmdeyh",
          "name": "REDIS AUTH"
        }
      }
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('PEGA SESSION ID').item.json.sessionId }}",
        "messageData": "={{ $json.content.replace(/\\n/g, \"\\\\n\").replace(/['\"]/g, '').trim()  }}",
        "tail": true
      },
      "id": "a4502a45-c29f-403a-a04c-c8fcc6feb4a7",
      "name": "MEMORIA IMAGEM",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        280,
        480
      ],
      "credentials": {
        "redis": {
          "id": "Kw2oHiXMU4Hmdeyh",
          "name": "REDIS AUTH"
        }
      }
    },
    {
      "parameters": {
        "content": "",
        "height": 280,
        "width": 320,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1720,
        -600
      ],
      "typeVersion": 1,
      "id": "20df245e-676d-4743-8f62-6dd50a416a28",
      "name": "Sticky Note33"
    },
    {
      "parameters": {
        "content": "## CREATE dados_cliente",
        "height": 80,
        "width": 280,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1700,
        -620
      ],
      "typeVersion": 1,
      "id": "caae2ecd-e2ce-4008-85ed-27672bbba9ed",
      "name": "Sticky Note34"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "create table crm_ead_dados_cliente (\n  id bigserial primary key,\n  created_at TIMESTAMPTZ, \n  telefone text, \n  sessionid text\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1660,
        -500
      ],
      "id": "26dcc6f0-eab2-4b56-be43-d240456845d7",
      "name": "CREATE dados_cliente",
      "credentials": {
        "postgres": {
          "id": "Yk2LNVV9gEaCcPiW",
          "name": "SUPABASE POSTGRES AUTH"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "crm_ead_dados_cliente",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "keyValue": "={{ $('NORMATIZAÇÃO DE DADOS').item.json.celular }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1740,
        -20
      ],
      "id": "aa019307-a043-4793-aa9c-c3ff670ab18e",
      "name": "PEGA CLIENTE",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "SgM7k30Ptlu5LKzt",
          "name": "SUPABASE AUTOMATION AUTH"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4a6d9aac-8565-4c58-abe3-8741393a5535",
              "leftValue": "={{ $json.telefone }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1580,
        -20
      ],
      "id": "d6bca491-7a8e-432c-98a3-5097dea743b3",
      "name": "CHECA SE CLIENTE EXISTE"
    },
    {
      "parameters": {
        "tableId": "crm_ead_dados_cliente",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "sessionid",
              "fieldValue": "={{ $json.data }}"
            },
            {
              "fieldId": "telefone",
              "fieldValue": "={{ $('NORMATIZAÇÃO DE DADOS').item.json.celular }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1180,
        80
      ],
      "id": "4c0462d3-6ba4-4eb3-b15a-e4863cf52888",
      "name": "CRIA REGISTRO DO CLIENTE",
      "credentials": {
        "supabaseApi": {
          "id": "SgM7k30Ptlu5LKzt",
          "name": "SUPABASE AUTOMATION AUTH"
        }
      }
    },
    {
      "parameters": {
        "action": "generate"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        -1380,
        80
      ],
      "id": "ac48d747-e9c5-4940-b1f1-81492e5cc107",
      "name": "GERA SESSION ID"
    },
    {
      "parameters": {
        "content": "",
        "height": 820,
        "width": 940
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1820,
        -160
      ],
      "typeVersion": 1,
      "id": "bb95c06a-8708-464e-ae1a-8359cff0c458",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## GRAVA TELEFONE DO CLIENTE",
        "height": 80,
        "width": 580,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1800,
        -200
      ],
      "typeVersion": 1,
      "id": "df6f7268-65a3-4288-a1ac-7f4d08be3486",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "amount": "={{ $('NORMATIZAÇÃO DE DADOS').item.json.mensagem.tempoEsperaMensagemPicotada }}"
      },
      "id": "f14e2374-0171-4878-ae11-cec712d1aee0",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        820,
        200
      ],
      "webhookId": "2a0e1031-b578-410e-99cc-b9d5ce725f75"
    },
    {
      "parameters": {
        "content": "",
        "height": 820,
        "width": 1540
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        540,
        -160
      ],
      "typeVersion": 1,
      "id": "0a0a5c48-d4c7-4d63-b104-681917a3c065",
      "name": "Sticky Note17"
    },
    {
      "parameters": {
        "content": "## MENSAGEM PICOTADA",
        "height": 80,
        "width": 760,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        560,
        -200
      ],
      "typeVersion": 1,
      "id": "afe50012-bbd3-41c4-bc77-2a1180814f31",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ $('PEGA SESSION ID').item.json.sessionId }}",
        "options": {}
      },
      "id": "636b8f51-da34-4411-90ba-ca9787f6ddea",
      "name": "PEGA MENSAGEM 1",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        600,
        200
      ],
      "credentials": {
        "redis": {
          "id": "Kw2oHiXMU4Hmdeyh",
          "name": "REDIS AUTH"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ $('PEGA SESSION ID').item.json.sessionId }}",
        "options": {}
      },
      "id": "eb94e009-2780-457a-be38-587590435e09",
      "name": "PEGA MENSAGEM 2",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1040,
        200
      ],
      "credentials": {
        "redis": {
          "id": "Kw2oHiXMU4Hmdeyh",
          "name": "REDIS AUTH"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f336a1ff-e577-489d-a739-1eb8bd509245",
              "name": "mensagem_2",
              "value": "={{ $('PEGA MENSAGEM 2').item.json.propertyName }}",
              "type": "string"
            },
            {
              "id": "946d1420-e379-46e3-8fcd-3816340fbabb",
              "name": "mensagem_1",
              "value": "={{ $('PEGA MENSAGEM 1').item.json.propertyName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "229e1633-bf91-444a-94d0-1e8be52da601",
      "name": "EDITA VALOR MENSAGENS",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1260,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d5a342e9-585b-42ea-be44-644adae10199",
              "leftValue": "={{ $json.mensagem_2 }}",
              "rightValue": "={{ $json.mensagem_1 }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "dbe8708f-9a72-44df-b30c-d6f3451cb4a8",
      "name": "COMPARA AS MEMORIAS",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1480,
        200
      ]
    },
    {
      "parameters": {},
      "id": "33583fec-228e-4f5a-abfa-e3e57b09af91",
      "name": "NAO FAZ NADA",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1700,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $('COMPARA AS MEMORIAS').first().json.mensagem_2; // Obtém o valor de Redis2 do nó \"If\"\n\n// Verifica se o dado é uma string que representa um array, e converte se necessário\nlet array = Array.isArray(data) ? data : JSON.parse(data);\n\n// Junta os elementos do array com um espaço entre eles\nconst mensagem_completa = array.join(\" \");\n\n// Retorna o resultado com o nome da variável \"mensagem_completa\"\nreturn [{ json: { mensagem_completa } }];\n"
      },
      "id": "acae88be-32cc-455a-940f-54d29b755418",
      "name": "RETORNA MENSAGEM COMPLETA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        100
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "0985904e-7d4e-4fba-ae26-2c44200855e1",
                    "leftValue": "={{ $('NORMATIZAÇÃO DE DADOS').item.json.mensagem.tipo }}",
                    "rightValue": "imageMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "imagem"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "52aaf749-fe4f-44e4-880e-15b2bfc027f1",
                    "leftValue": "={{ $('NORMATIZAÇÃO DE DADOS').item.json.mensagem.tipo }}}}",
                    "rightValue": "extendedTextMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "e514e613-fd6a-48bd-b0ae-bae2448c810e",
                    "leftValue": "={{ $('NORMATIZAÇÃO DE DADOS').item.json.mensagem.tipo }}",
                    "rightValue": "conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('NORMATIZAÇÃO DE DADOS').item.json.mensagem.tipo }}",
                    "rightValue": "audioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            }
          ]
        },
        "options": {}
      },
      "id": "d2f2fb43-ccbd-4271-8ccf-39056b60f9e2",
      "name": "Switch3",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        2580,
        20
      ]
    },
    {
      "parameters": {
        "content": "",
        "height": 820,
        "width": 860
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2100,
        -160
      ],
      "typeVersion": 1,
      "id": "ae17114b-ddb8-4469-a2d7-e9ae2eb6cc14",
      "name": "Sticky Note18"
    },
    {
      "parameters": {
        "content": "## AGENTE DE ATENDIMENTO",
        "height": 80,
        "width": 420,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2120,
        -180
      ],
      "typeVersion": 1,
      "id": "14307107-0cb0-43e7-bfab-e220ea5512c4",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.mensagem_completa }}",
        "options": {
          "systemMessage": "=## DATA E HORA ATUAL E DIA DA SEMANA\n- Data e hora: {{ $now.format('dd/MM/yyyy HH:mm') }}\n- Dia da Semana: {{ $now.extract('weekday') }}\n\n---\n\n## 🤖 IDENTIDADE DA ATENDENTE\nVocê é **Lívia**, uma atendente virtual especializada em orientação educacional da **UniFAVENI - Polo Caraguatatuba**. Atua com empatia, precisão e foco em conversão. Seus supervisores humanos são **Liliane** e **Mazinho**.\n\n---\n\n## ⚠️ LIMITE DE CONTEXTO (IMPORTANTE)\n\nVocê deve **responder apenas dentro do escopo para o qual foi treinada**, ou seja:\n\n- Informações sobre **cursos da UniFAVENI Caraguatatuba**\n- Dúvidas relacionadas a **matrícula, modalidades, valores e diferenciais**\n- Dados consultados da **base “DADOS_DOS_CURSOS”**\n\n❗ Nunca responda perguntas fora do tema educacional ou institucional.  \n❗ Se não souber algo, **consulte a base DADOS_DOS_CURSOS** antes de responder.\n\n---\n\n## 👋 SAUDAÇÃO E APRESENTAÇÃO INICIAL\n\nNa **primeira mensagem da conversa**, cumprimente o usuário com simpatia e se apresente:\n\n> Oi! 😊 Sou a **Lívia**, atendente da **UniFAVENI Caraguatatuba**.  \n> Posso te ajudar com informações sobre os cursos, valores ou matrícula. Me conta o que você precisa? 💬\n\nNão repita essa apresentação nas mensagens seguintes.\n\n---\n\n## 📚 DADOS INSTITUCIONAIS\n\nA UniFAVENI Caraguatatuba é um polo oficial do Centro Universitário FAVENI, com mais de 200 mil alunos no Brasil.  \nTodos os cursos são reconhecidos pelo MEC, com suporte pedagógico, AVA intuitivo e material digital moderno.\n\n---\n\n## 🎓 MODALIDADES DE CURSO\n\n- **Licenciaturas** → 4 anos  \n- **Bacharelados** → 4 a 5 anos  \n- **Tecnólogos** → 2 a 3 anos  \n- **Segunda Licenciatura** → 6 a 18 meses  \n- **Segunda Graduação** → 6 a 18 meses  \n- **Pós-graduação** → mínimo 6 meses  \n- **PEFD (Programa Especial de Formação Docente)**\n\n---\n\n## 🔒 REGRAS DE RESPOSTA POR ETAPAS\n\n- Ao ser perguntada sobre um curso, informe:\n  - Nome do curso\n  - Modalidade (ex: Bacharelado)\n  - Duração total\n\n- ❗ **Não informe valores, parcelas ou formas de pagamento, a menos que o usuário solicite.**\n- ❗ **Nunca ofereça valores por conta própria.**\n- ❗ **Não repita informações já fornecidas, a menos que o usuário peça.**\n- Sempre responda sobre **um único curso por vez**.\n- Use o histórico apenas como referência de contexto, **não como conteúdo de resposta.**\n\n---\n\n## 💬 EXEMPLOS DE RESPOSTAS\n\n### Quando perguntam sobre um curso:\n\n> O curso de **Administração** é um **Bacharelado** com duração de **4 anos**.  \n> Se quiser saber mais sobre ele, estou por aqui! 😊\n\n### Quando solicitam os valores:\n\n> Sobre os valores do curso de **Administração**:  \n> - 📆 **Parcelas**: 49x mensais  \n> - ✅ Com desconto (pagamento antecipado): R$ 119,90  \n> - 💰 Valor integral (pagamento no vencimento): R$ 179,90\n\n---\n\n## 💳 INFORMAÇÕES FINANCEIRAS\n\n- Segunda Licenciatura e Pós: taxa de matrícula de **R$ 149,90**\n- PIX à vista → **10% de desconto**\n- Parcelamento em até **5x sem juros** no cartão (quando aplicável)\n\n---\n\n## 🌟 DIFERENCIAIS\n\n- 100% EAD com flexibilidade\n- AVA acessível por celular\n- Certificação válida em todo o Brasil\n- Estágio e TCC (quando exigidos)\n- Suporte presencial e via WhatsApp\n\n---\n\n## 🔁 FLUXO DE ATENDIMENTO\n\n1. Saudar com simpatia (somente no início)  \n2. Identificar o interesse do usuário (curso ou área)  \n3. Apresentar dados do curso (sem valores)  \n4. Apresentar valores **somente se solicitado**  \n5. Solicitar **nome e e-mail** para envio de informações  \n6. Se não fornecer, **pergunte novamente com gentileza antes de finalizar**  \n7. Se mesmo assim não quiser passar, respeite e siga a conversa normalmente  \n8. Manter a conversa aberta com tom leve e natural  \n9. Encaminhar para suporte humano (Liliane ou Mazinho) se necessário  \n\n---\n\n## 📧 COLETA DE NOME E E-MAIL\n\nApós interagir com o usuário (e especialmente se ele pedir valores), pergunte de forma natural:\n\n> Posso te enviar mais detalhes sobre esse curso por e-mail 💙  \n> Me passa seu **nome** e **e-mail**, que eu te envio tudinho!\n\nSe o usuário não responder, pergunte novamente de forma leve **antes de finalizar**.\n\n> Ah! Consegui te ajudar? Se quiser receber por e-mail é só me passar seu nome e e-mail ✨\n\nCaso o usuário não queira informar, **continue a conversa normalmente**, sem forçar.\n\n---\n\n## 🧠 CONSULTA À BASE DE DADOS\n\nConsulte a base de dados \"DADOS_DOS_CURSOS\" sempre que necessário.  \n**Nunca adivinhe informações.**\n\n---\n\n## 🧠 CONTROLE DE CONTEXTO E RESPOSTAS\n\n- Nunca repita respostas anteriores automaticamente  \n- Nunca misture cursos diferentes na mesma resposta  \n- Evite redundâncias  \n- Não finalize a conversa por conta própria  \n- Use histórico apenas para **saber o tema atual**  \n- Evite frases como “se precisar de algo mais…”  \n- Prefira expressões leves como:\n\n> “Estou por aqui se quiser continuar!”  \n> “Se quiser falar de outro curso, é só me chamar 😄”\n\n---\n\n## 🛑 REGRAS DE ENCERRAMENTO DE CONVERSA\n\n- A conversa **deve permanecer aberta**  \n- Só encerre se o usuário disser claramente que está satisfeito ou deseja encerrar  \n- Use uma linguagem leve e acolhedora até o fim da interação\n\n---\n\n## ⏱ QUANDO CLASSIFICAR O LEAD\n\nRealize a **classificação interna do lead** assim que um dos seguintes eventos ocorrer:\n\n1. O usuário demonstra **interesse claro em um curso**  \n2. O usuário solicita **valores ou formas de pagamento**  \n3. O usuário fornece **nome ou e-mail**  \n4. O usuário expressa intenção de **matricular-se**\n\n---\n\n## 🧮 CRITÉRIO DE QUALIFICAÇÃO DO LEAD\n\nClassifique o nível do lead com base no comportamento do usuário:\n\n- **Lead Frio** → Apenas curiosidade. Ex: “Quais cursos vocês têm?”  \n- **Lead Morno** → Interesse por um curso, mas sem pedir valor ou matrícula  \n- **Lead Quente** → Pediu valores, falou de matrícula ou forneceu dados pessoais\n\n---\n\n## 📊 CLASSIFICAÇÃO DE LEAD (INTERNA)\n\nArmazene os seguintes dados:\n\n- **Nome**  \n- **E-mail**  \n- **Telefone (WhatsApp)**  \n- **Curso(s) de Interesse**  \n- **Modalidade(s)**  \n- **Pediu valores**: true/false  \n- **Intenção de matrícula**: true/false  \n- **Nível do lead**: Frio / Morno / Quente  \n- **Origem do lead**: WhatsApp  \n- **Encaminhado ao humano?**: Sim/Não  \n- **Observações**: Resumo breve do perfil e comportamento do usuário\n\n---\n\n## 📝 GERAÇÃO DE OBSERVAÇÃO (RESUMO DO LEAD)\n\nAo classificar o lead, gere um **breve resumo** no campo “Observações”, com base na conversa.  \nExemplo:\n\n> Interessado em Tecnólogo de RH. Já tem graduação e quer um curso rápido para mudar de área. Pediu valores e prazos.\n\n---\n\n## 📤 ENVIO DE DADOS PARA PLANILHA\n\nApós a classificação, envie os dados captados para:\n\n> **LEADS-UNIFAVENI-CARAGUATATUBA**\n\nInclua os seguintes campos:\n\n- Nome  \n- E-mail  \n- Telefone (WhatsApp)  \n- Curso(s) de interesse  \n- Modalidade(s)  \n- Pediu valores (true/false)  \n- Intenção de matrícula (true/false)  \n- Nível do lead (Frio, Morno, Quente)  \n- Origem do lead (WhatsApp)  \n- Encaminhado ao humano? (Sim/Não)  \n- Observações\n\n📌 Somente envie se tiver pelo menos:\n- Nome\n- Curso de interesse\n- E-mail **ou** intenção clara de matrícula\n\n---\n\n## 📲 LINKS ÚTEIS\n\n- Site: [https://caraguatatuba1.unifaveni.com/](https://caraguatatuba1.unifaveni.com/)  \n- Institucional: [https://caraguatatuba1.unifaveni.com/a-instituicao/](https://caraguatatuba1.unifaveni.com/a-instituicao/)  \n- WhatsApp:  \n  - Liliane: (12) 98160-2230  \n  - Mazinho: (12) 98820-7843\n\n---\n\n## 🎯 OBJETIVO FINAL\n\nConduzir o usuário com empatia, sem pressa, até a matrícula — respeitando o ritmo da conversa.  \nResponda com clareza, foco e linguagem acolhedora, **sem parecer robótico**.\n\n---\n\n🧘 **Take a deep breath and work on this problem step-by-step.**\n"
        }
      },
      "id": "322dfeab-a10a-4da5-b3c5-dcabde430672",
      "name": "ATENDENTE",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        2200,
        60
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        2180,
        260
      ],
      "id": "51bb36d9-e996-4d8b-abfb-44a3c5046e16",
      "name": "GPT-4o-MINI",
      "credentials": {
        "openAiApi": {
          "id": "z7UeTfkwunE6Y30g",
          "name": "CRM-EAD-TESTS"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('PEGA SESSION ID').item.json.sessionId }}",
        "tableName": "crm_ead_chat_histories",
        "contextWindowLength": 100
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        2320,
        260
      ],
      "id": "43a0b9cb-fc57-4a44-8c3e-8a0096c9aba9",
      "name": "POSTGRESS CHAT MEMORY",
      "credentials": {
        "postgres": {
          "id": "Yk2LNVV9gEaCcPiW",
          "name": "SUPABASE POSTGRES AUTH"
        }
      }
    },
    {
      "parameters": {
        "amount": 1.2
      },
      "id": "a88332f5-89b7-4235-b47d-7f9c67be235b",
      "name": "1,2s1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4300,
        -20
      ],
      "webhookId": "1f8ddf7a-e468-4ec1-b36b-df7cad1bc6d2"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "6d7762af-b174-4045-a84c-e9c612022b21",
      "name": "Loop Over Items3",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        3640,
        60
      ]
    },
    {
      "parameters": {},
      "id": "3296970b-cad2-4f49-a7c6-1d1fef58a718",
      "name": "no.op",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        4520,
        60
      ]
    },
    {
      "parameters": {},
      "id": "da00ddc0-ce86-4d89-ac08-42399f5e32d3",
      "name": "Replace Me",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3860,
        -20
      ]
    },
    {
      "parameters": {
        "content": "",
        "height": 820,
        "width": 1720
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2980,
        -160
      ],
      "typeVersion": 1,
      "id": "928e6cea-41ae-41ae-b784-9e5212092e7e",
      "name": "Sticky Note20"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        3060,
        280
      ],
      "id": "c670aa3a-4218-4b50-b2b6-02447882f6ea",
      "name": "GPT-4o-MINI1",
      "credentials": {
        "openAiApi": {
          "id": "z7UeTfkwunE6Y30g",
          "name": "CRM-EAD-TESTS"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Whatsapp message to be splitted and formated: {{ $json.output }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=Por favor, gere a saída no seguinte formato JSON:\n{\n  \"messages\": [\n    \"splitedMessage\",\n    \"splitedMessage\",\n    \"splitedMessage\"\n  ]\n}\n\nAs mensagens devem ser divididas de forma natural, afinal estamos conversando com um humano, não é mesmo?\n\nCertifique-se de que a resposta siga exatamente essa estrutura, incluindo os colchetes e as aspas.\n\n### Jamais separe uma mensagem vazia.\n\n### Certifique-se de que a resposta siga exatamente essa estrutura abaixo, deixando somente entre '*' para negrito e nunca fugindo das demais regras de markdown do whatsapp:\n    - *negrito* (substitua '**' por '*')\n    - ~tachado~ (caso seja algo que foi excluído ou alterado)\n    - _itálico_.(extremamente raro)\n    - `link` (usar sempre em todos os links)\n\nTudo o que for link, pode colocar entre \"`\", ou seja, na seguinte formatação: `www.link.com.br`\n"
            }
          ]
        }
      },
      "id": "396060f0-0af1-48ca-b6fb-5f31fb1e987b",
      "name": "PARSE MENSAGEM",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        3040,
        60
      ]
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"messages\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    }\n  },\n  \"required\": [\"messages\"]\n}"
      },
      "id": "9fc64d06-67f6-40b9-9371-c658b09cd27b",
      "name": "SAIDA DO PARSER",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        3180,
        280
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.messages",
        "options": {
          "destinationFieldName": "output"
        }
      },
      "id": "b58fa353-6df6-4a31-8880-91ccc172ea55",
      "name": "MENSAGEM SEPARADA",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        3420,
        60
      ]
    },
    {
      "parameters": {
        "content": "## RESPOSTA COM TEXTO HUMANIZADO",
        "height": 80,
        "width": 760,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3000,
        -200
      ],
      "typeVersion": 1,
      "id": "127cc9ce-fd10-446a-8b36-4b4689acfc22",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('NORMATIZAÇÃO DE DADOS').item.json.evolution.dominio }}/message/sendText/{{ $('NORMATIZAÇÃO DE DADOS').item.json.evolution.instancia }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{  $('NORMATIZAÇÃO DE DADOS').item.json.evolution.apiKey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{  $('NORMATIZAÇÃO DE DADOS').item.json.celular }}"
            },
            {
              "name": "text",
              "value": "={{ $json.output }}"
            },
            {
              "name": "linkPreview",
              "value": "={{ $('NORMATIZAÇÃO DE DADOS').item.json.mensagem.linkPreview }}"
            },
            {
              "name": "delay",
              "value": "={{ $('NORMATIZAÇÃO DE DADOS').item.json.mensagem.delayDigitando }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "f54e0763-1ad9-4f68-8d88-c7b741334332",
      "name": "RESPONSTA EM TEXTO",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4080,
        -20
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "id": "fecf46ce-23e4-47a4-a7d4-1b929486f58f",
      "name": "Audio-Base64-Extract from File",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        3400,
        800
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.elevenlabs.io/v1/text-to-speech/9BWtsMINqrJLrRacOk9x",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "xi-api-key",
              "value": "=sk_e72e184e2f18e016ac5a135d002a2955cc0e83ac6e441a27"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n   \"text\":\"'{{ $json.textoSemQuebrasNemEmojis }}'\",\n   \"model_id\":\"eleven_multilingual_v2\",\n   \"voice_settings\":{\n      \"stability\":0.5,\n      \"similarity_boost\":0.8,\n      \"style\":0.0,\n      \"use_speaker_boost\":true\n   }\n} ",
        "options": {}
      },
      "id": "5271e240-3f96-4a63-8115-c9d2b579a7f7",
      "name": "ElevenLabsGenerateVoice",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3200,
        800
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "content": "",
        "height": 300,
        "width": 1720,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2980,
        680
      ],
      "typeVersion": 1,
      "id": "bda45320-3f3e-489c-8d7b-de98cf47a850",
      "name": "Sticky Note24"
    },
    {
      "parameters": {
        "content": "# Resposta em Áudio",
        "height": 80,
        "width": 376,
        "color": 5
      },
      "id": "4d4e3aaf-65d8-44c9-8d19-5ca7f3c6b94f",
      "name": "Sticky Note25",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3000,
        660
      ]
    },
    {
      "parameters": {
        "jsCode": "// Obtém o primeiro item do fluxo\nconst item = $input.first();\n\n// Garante que há dados na entrada\nif (!item || !item.json || !item.json.output) {\n  throw new Error(\"A chave 'output' não foi encontrada no JSON de entrada.\");\n}\n\n// Processa o texto removendo todas as quebras de linha e emojis\nconst textoEntrada = item.json.output; // Use a chave correta para pegar o texto de entrada\n\n// Remove quebras de linha (\\n)\nlet textoProcessado = textoEntrada.replace(/\\n/g, \"\");\n\n// Remove emojis\ntextoProcessado = textoProcessado.replace(\n  /[\\u{1F600}-\\u{1F64F}]|[\\u{1F300}-\\u{1F5FF}]|[\\u{1F680}-\\u{1F6FF}]|[\\u{1F700}-\\u{1F77F}]|[\\u{1F780}-\\u{1F7FF}]|[\\u{1F800}-\\u{1F8FF}]|[\\u{1F900}-\\u{1F9FF}]|[\\u{1FA00}-\\u{1FA6F}]|[\\u{1FA70}-\\u{1FAFF}]|[\\u{2600}-\\u{26FF}]|[\\u{2700}-\\u{27BF}]|[\\u{FE00}-\\u{FE0F}]|[\\u{1F1E0}-\\u{1F1FF}]/gu,\n  \"\"\n);\n\n// Retorna o resultado\nreturn {\n  textoOriginal: textoEntrada,\n  textoSemQuebrasNemEmojis: textoProcessado,\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3040,
        800
      ],
      "id": "fbe03cf4-d0b6-4edd-8056-7ea913f73516",
      "name": "Code"
    },
    {
      "parameters": {
        "options_Create_instance": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        3560,
        800
      ],
      "id": "32dca922-7a3a-49df-84df-d482ea0aa47d",
      "name": "Evolution API3"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -2520,
        1020
      ],
      "id": "b0cd94f3-79e2-4a58-826f-9463e34ca9f2",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "z7UeTfkwunE6Y30g",
          "name": "CRM-EAD-TESTS"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        -2400,
        1020
      ],
      "id": "575d77f3-a114-445b-9677-d4323537e1ec",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -2300,
        1220
      ],
      "id": "f5b755b4-1dd1-49b1-af54-9b04bc7e4306",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -3180,
        800
      ],
      "id": "ab765f2a-77b9-43cd-bebd-2ca204baa1c4",
      "name": "CARREGA RAG",
      "disabled": true
    },
    {
      "parameters": {
        "content": "",
        "height": 660,
        "width": 1140,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3240,
        720
      ],
      "typeVersion": 1,
      "id": "12c0d6b4-8444-4bfe-be24-b3e96c6282fc",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "## CARREGA DADOS RAG",
        "height": 80,
        "width": 580,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3220,
        680
      ],
      "typeVersion": 1,
      "id": "cbeeda50-688c-403f-b3b5-8756f7bc896e",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1b9jf_7nN0QE4z2e2cBUU1rXuVlhNOYvLlDM2HNLxgaw",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2740,
        800
      ],
      "id": "2d6d5aff-b4bb-4ace-80d4-f4a207e35a50",
      "name": "PEGA O ARQUIVO RAG",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "FbPDdvrqcfVhhz6A",
          "name": "GOOGLE DRIVE AUTH"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "crm_ead_documents",
          "mode": "list",
          "cachedResultName": "crm_ead_documents"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2960,
        800
      ],
      "id": "ffff26a7-0168-4b1d-b883-ac3d28a8ec7d",
      "name": "LIMPA DADOS ANTIGOS",
      "credentials": {
        "postgres": {
          "id": "Yk2LNVV9gEaCcPiW",
          "name": "SUPABASE POSTGRES AUTH"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "crm_ead_documents",
          "mode": "list",
          "cachedResultName": "crm_ead_documents"
        },
        "options": {
          "queryName": "match_crm_ead_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.1,
      "position": [
        -2500,
        800
      ],
      "id": "82674f77-4828-4533-bcee-ab5a5f23c7c2",
      "name": "SALVA OS DADOS VETORIZADO",
      "credentials": {
        "supabaseApi": {
          "id": "SgM7k30Ptlu5LKzt",
          "name": "SUPABASE AUTOMATION AUTH"
        }
      }
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "crm_ead_documents",
          "mode": "list",
          "cachedResultName": "crm_ead_documents"
        },
        "options": {
          "queryName": "match_crm_ead_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.1,
      "position": [
        2300,
        400
      ],
      "id": "fc95e34d-394b-4bef-afdd-d0a46c605f3a",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "SgM7k30Ptlu5LKzt",
          "name": "SUPABASE AUTOMATION AUTH"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        2200,
        500
      ],
      "id": "c893a366-3ebd-44b8-baa0-8b583049040d",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "z7UeTfkwunE6Y30g",
          "name": "CRM-EAD-TESTS"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2640,
        400
      ],
      "id": "5ba03762-7668-42f4-9ed7-4b04d7d959e2",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "z7UeTfkwunE6Y30g",
          "name": "CRM-EAD-TESTS"
        }
      }
    },
    {
      "parameters": {
        "description": "Chame essa tool para retornar informações completas sobre os cursos disponíveis (Segunda Licenciatura, Graduação e Pós-Graduação), incluindo modalidades (EAD ou presencial), duração, exigência de TCC, estágio obrigatório e formas de pagamento com preços simulados."
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        2440,
        260
      ],
      "id": "4b7a7518-95c0-4e7c-bb04-a3b970e78f82",
      "name": "DADOS DOS CURSOS"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1fmpiVoOg-tPGYRlv4HqY19KP4kaEGTzdalsMuSZs6DQ",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "LEADS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fmpiVoOg-tPGYRlv4HqY19KP4kaEGTzdalsMuSZs6DQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "CELULAR": "={{ $('NORMATIZAÇÃO DE DADOS').item.json.celular }}",
            "DATA": "={{ $now.format('dd/MM/yyyy HH:mm:ss') }}",
            "OBSERVAÇÕES": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('OBSERVA__ES', ``, 'string') }}",
            "NÍVEL DO LEAD": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('N_VEL_DO_LEAD', ``, 'string') }}",
            "INTENÇÃO DE MATRÍCULA?": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('INTEN__O_DE_MATR_CULA_', ``, 'string') }}",
            "PEDIU VALORES?": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('PEDIU_VALORES_', ``, 'string') }}",
            "MODALIDADE(S)": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('MODALIDADE_S_', ``, 'string') }}",
            "CURSO(S) DE INTERESSE": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('CURSO_S__DE_INTERESSE', ``, 'string') }}",
            "E-MAIL": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('E-MAIL', ``, 'string') }}",
            "NOME": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('NOME', ``, 'string') }}"
          },
          "matchingColumns": [
            "CELULAR"
          ],
          "schema": [
            {
              "id": "CELULAR",
              "displayName": "CELULAR",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "NOME",
              "displayName": "NOME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "E-MAIL",
              "displayName": "E-MAIL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CURSO(S) DE INTERESSE",
              "displayName": "CURSO(S) DE INTERESSE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "MODALIDADE(S)",
              "displayName": "MODALIDADE(S)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "PEDIU VALORES?",
              "displayName": "PEDIU VALORES?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "INTENÇÃO DE MATRÍCULA?",
              "displayName": "INTENÇÃO DE MATRÍCULA?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "NÍVEL DO LEAD",
              "displayName": "NÍVEL DO LEAD",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "OBSERVAÇÕES",
              "displayName": "OBSERVAÇÕES",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "DATA",
              "displayName": "DATA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        2760,
        260
      ],
      "id": "bd458b45-d139-4767-bf05-da7199ed307c",
      "name": "LEADS-UNIFAVENI-CARAGUATATUBA",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1SSGbEUENFvZH1tf",
          "name": "GOOGLE SHEETS AUTH"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let sessionid1 = null;\nlet sessionid2 = null;\n\ntry {\n  const node1 = $('GERA SESSION ID')?.first();\n  if (node1?.json?.data) {\n    sessionid1 = node1.json.data;\n  }\n} catch (e) {\n  console.warn('Erro ao acessar o nó \"GERA SESSION ID\":', e.message || e);\n}\n\ntry {\n  const node2 = $('PEGA CLIENTE')?.first();\n  if (node2?.json?.sessionid) {\n    sessionid2 = node2.json.sessionid;\n  }\n} catch (e) {\n  console.warn('Erro ao acessar o nó \"PEGA CLIENTE\":', e.message || e);\n}\n\n// Retorna o primeiro sessionid disponível ou null\nreturn [{ sessionId: sessionid1 || sessionid2 || null }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1040,
        -120
      ],
      "id": "826e480f-799a-4c9f-90ab-cafe47f10695",
      "name": "PEGA SESSION ID"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('PEGA SESSION ID').item.json.sessionId }}"
      },
      "id": "7fef87f3-6e08-47c1-9ce1-b709c6848e26",
      "name": "Redis2",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1700,
        100
      ],
      "credentials": {
        "redis": {
          "id": "Kw2oHiXMU4Hmdeyh",
          "name": "REDIS AUTH"
        }
      }
    }
  ],
  "connections": {
    "RECEBE DADOS DA MENSAGEM": {
      "main": [
        [
          {
            "node": "NORMATIZAÇÃO DE DADOS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NORMATIZAÇÃO DE DADOS": {
      "main": [
        [
          {
            "node": "LOG DE EXECUÇÃO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LOG DE EXECUÇÃO": {
      "main": [
        [
          {
            "node": "CHECA ORIGEM DA MENSAGEM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CHECA ATENDIMENTO HUMANO": {
      "main": [
        [
          {
            "node": "CHECA ATENDIMENTO(BOT/HUMANO)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "MEMORIA AUDIO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CHECA ORIGEM DA MENSAGEM": {
      "main": [
        [
          {
            "node": "CHECA ATENDIMENTO HUMANO",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PAUSA BOT PARA ATENDIMENTO HUMANO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CHECA ATENDIMENTO(BOT/HUMANO)": {
      "main": [
        [],
        [
          {
            "node": "PEGA CLIENTE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CHECA TIPO DE MENSAGEM": {
      "main": [
        [
          {
            "node": "MEMORIA TEXTO",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MEMORIA TEXTO",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NORMATIZA DADOS DO ARQUIVO AUDIO",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NORMATIZA DADOS DO ARQUIVO IMAGEM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CONVERTE ARQUIVO DE AUDIO": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CONVERTE ARQUIVO DE IMAGEM": {
      "main": [
        [
          {
            "node": "ANALISE DE IMAGEM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NORMATIZA DADOS DO ARQUIVO IMAGEM": {
      "main": [
        [
          {
            "node": "CONVERTE ARQUIVO DE IMAGEM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NORMATIZA DADOS DO ARQUIVO AUDIO": {
      "main": [
        [
          {
            "node": "CONVERTE ARQUIVO DE AUDIO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ANALISE DE IMAGEM": {
      "main": [
        [
          {
            "node": "CHECA SE A IMGEM TEM CAPTION",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CHECA SE A IMGEM TEM CAPTION": {
      "main": [
        [
          {
            "node": "MEMORIA IMAGEM CAPTION",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MEMORIA IMAGEM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PEGA CLIENTE": {
      "main": [
        [
          {
            "node": "CHECA SE CLIENTE EXISTE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CHECA SE CLIENTE EXISTE": {
      "main": [
        [
          {
            "node": "PEGA SESSION ID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GERA SESSION ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CRIA REGISTRO DO CLIENTE": {
      "main": [
        [
          {
            "node": "PEGA SESSION ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GERA SESSION ID": {
      "main": [
        [
          {
            "node": "CRIA REGISTRO DO CLIENTE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "PEGA MENSAGEM 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MEMORIA TEXTO": {
      "main": [
        [
          {
            "node": "PEGA MENSAGEM 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MEMORIA AUDIO": {
      "main": [
        [
          {
            "node": "PEGA MENSAGEM 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MEMORIA IMAGEM CAPTION": {
      "main": [
        [
          {
            "node": "PEGA MENSAGEM 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MEMORIA IMAGEM": {
      "main": [
        [
          {
            "node": "PEGA MENSAGEM 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PEGA MENSAGEM 1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PEGA MENSAGEM 2": {
      "main": [
        [
          {
            "node": "EDITA VALOR MENSAGENS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EDITA VALOR MENSAGENS": {
      "main": [
        [
          {
            "node": "COMPARA AS MEMORIAS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "COMPARA AS MEMORIAS": {
      "main": [
        [
          {
            "node": "Redis2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NAO FAZ NADA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RETORNA MENSAGEM COMPLETA": {
      "main": [
        [
          {
            "node": "ATENDENTE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ATENDENTE": {
      "main": [
        [
          {
            "node": "Switch3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT-4o-MINI": {
      "ai_languageModel": [
        [
          {
            "node": "ATENDENTE",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "POSTGRESS CHAT MEMORY": {
      "ai_memory": [
        [
          {
            "node": "ATENDENTE",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "1,2s1": {
      "main": [
        [
          {
            "node": "no.op",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items3": {
      "main": [
        [],
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "no.op": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch3": {
      "main": [
        [
          {
            "node": "PARSE MENSAGEM",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PARSE MENSAGEM",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PARSE MENSAGEM",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PARSE MENSAGEM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT-4o-MINI1": {
      "ai_languageModel": [
        [
          {
            "node": "PARSE MENSAGEM",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "PARSE MENSAGEM": {
      "main": [
        [
          {
            "node": "MENSAGEM SEPARADA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "RESPONSTA EM TEXTO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SAIDA DO PARSER": {
      "ai_outputParser": [
        [
          {
            "node": "PARSE MENSAGEM",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "MENSAGEM SEPARADA": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RESPONSTA EM TEXTO": {
      "main": [
        [
          {
            "node": "1,2s1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ElevenLabsGenerateVoice": {
      "main": [
        [
          {
            "node": "Audio-Base64-Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "ElevenLabsGenerateVoice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "SALVA OS DADOS VETORIZADO",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "SALVA OS DADOS VETORIZADO",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "CARREGA RAG": {
      "main": [
        [
          {
            "node": "LIMPA DADOS ANTIGOS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PEGA O ARQUIVO RAG": {
      "main": [
        [
          {
            "node": "SALVA OS DADOS VETORIZADO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LIMPA DADOS ANTIGOS": {
      "main": [
        [
          {
            "node": "PEGA O ARQUIVO RAG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_tool": [
        []
      ],
      "ai_vectorStore": [
        [
          {
            "node": "DADOS DOS CURSOS",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "DADOS DOS CURSOS",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "DADOS DOS CURSOS": {
      "ai_tool": [
        [
          {
            "node": "ATENDENTE",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "LEADS-UNIFAVENI-CARAGUATATUBA": {
      "ai_tool": [
        [
          {
            "node": "ATENDENTE",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "PEGA SESSION ID": {
      "main": [
        [
          {
            "node": "CHECA TIPO DE MENSAGEM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis2": {
      "main": [
        [
          {
            "node": "RETORNA MENSAGEM COMPLETA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "saveDataSuccessExecution": "all"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "RECEBE DADOS DA MENSAGEM": [
      {
        "json": {
          "headers": {
            "host": "webhooks.evodev.com.br",
            "user-agent": "axios/1.7.9",
            "content-length": "1016",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "172.18.0.1",
            "x-forwarded-host": "webhooks.evodev.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik_traefik.1",
            "x-real-ip": "172.18.0.1"
          },
          "params": {},
          "query": {},
          "body": {
            "event": "messages.upsert",
            "instance": "AIGENTEGOV-APPOINTMENT-CONFIRMATION",
            "data": {
              "key": {
                "remoteJid": "5511987676642@s.whatsapp.net",
                "fromMe": false,
                "id": "3F5ECC655ED815980A22"
              },
              "pushName": "Valente Araújo",
              "status": "DELIVERY_ACK",
              "message": {
                "messageContextInfo": {
                  "deviceListMetadata": {
                    "senderKeyHash": "K624orVZ0KDF7g==",
                    "senderTimestamp": "1747251324",
                    "recipientKeyHash": "n2jecw4ojCGfEg==",
                    "recipientTimestamp": "1748369692"
                  },
                  "deviceListMetadataVersion": 2
                },
                "conversation": "Oi... queria saber sobre o curso de BIBLIOTECONOMIA"
              },
              "contextInfo": {
                "expiration": 0,
                "ephemeralSettingTimestamp": "0",
                "disappearingMode": {
                  "initiator": "CHANGED_IN_CHAT"
                }
              },
              "messageType": "conversation",
              "messageTimestamp": 1748476643,
              "instanceId": "7b1e3721-11f8-4197-887a-20c283e868ff",
              "source": "unknown"
            },
            "destination": "https://webhooks.evodev.com.br/webhook/crm-ead-faveni-leads",
            "date_time": "2025-05-28T20:57:23.635Z",
            "sender": "5511915066857@s.whatsapp.net",
            "server_url": "https://wsapi.evodev.com.br",
            "apikey": "300AC8DE385A-4C56-A6A2-3D04EF43740E"
          },
          "webhookUrl": "https://webhooks.evodev.com.br/webhook/crm-ead-faveni-leads",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "c67724db-17aa-44c5-b43e-0dd73476b091",
  "triggerCount": 1,
  "tags": [
    {
      "createdAt": "2025-05-28T15:49:06.963Z",
      "updatedAt": "2025-05-28T15:49:06.963Z",
      "id": "WEuCtEnR4zEl8xjl",
      "name": "CRM-EAD"
    }
  ],
  "repository_name": "n8n-backup-crm-ead"
}